---
http_interactions:
- request:
    method: put
    uri: https://mss.cpc.getswish.net/swish-cpcapi/api/v2/paymentrequests/B597272B4DD5414F89A6011CC3FEF14A
    body:
      encoding: UTF-8
      string: '{"payeeAlias":"1231181189","callbackUrl":"https://example.com/api/swishcb/paymentrequests","amount":199,"currency":"SEK","message":"Probe","payeePaymentReference":"ABC123"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - https://mss.cpc.getswish.net/swish-cpcapi/api/v1/paymentrequests/B597272B4DD5414F89A6011CC3FEF14A
      Paymentrequesttoken:
      - dcdf29e97e3a4cfbb1a6966067de9d30
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 21 Sep 2026 10:57:27 GMT
- request:
    method: patch
    uri: https://mss.cpc.getswish.net/swish-cpcapi/api/v1/paymentrequests/B597272B4DD5414F89A6011CC3FEF14A
    body:
      encoding: UTF-8
      string: '[{"op":"replace","path":"/status","value":"cancelled"}]'
    headers:
      Content-Type:
      - application/json-patch+json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"B597272B4DD5414F89A6011CC3FEF14A","payeePaymentReference":"ABC123","paymentReference":"2F8798436DA74D08B27F46B881160A8D","callbackUrl":"https://example.com/api/swishcb/paymentrequests","payerAlias":"46464646464","payeeAlias":"1231181189","amount":199.00,"currency":"SEK","message":"Probe","status":"CANCELLED","dateCreated":"2026-09-21T10:57:27.339Z","datePaid":null,"errorCode":"RP08","errorMessage":"The
        payment request has been cancelled."}'
  recorded_at: Mon, 21 Sep 2026 10:57:27 GMT
recorded_with: VCR 6.4.0
