---
http_interactions:
- request:
    method: put
    uri: https://mss.cpc.getswish.net/swish-cpcapi/api/v2/paymentrequests/B508E9D032FC443D8D9AC33DB0163785
    body:
      encoding: UTF-8
      string: '{"payeeAlias":"1231181189","callbackUrl":"https://example.com/cb","amount":50,"currency":"SEK","payerAlias":"nope"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"errorCode":"BE18","errorMessage":"Payer alias is invalid","additionalInformation":""}]'
  recorded_at: Mon, 21 Sep 2026 09:09:42 GMT
recorded_with: VCR 6.4.0
