---
http_interactions:
- request:
    method: put
    uri: https://mss.cpc.getswish.net/swish-cpcapi/api/v2/paymentrequests/A53E0B4428ED457095A26726897D81DA
    body:
      encoding: UTF-8
      string: '{"payeeAlias":"1231181189","callbackUrl":"https://example.com/cb","amount":50,"currency":"SEK","payerAlias":"nope"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"errorCode":"BE18","errorMessage":"Payer alias is invalid","additionalInformation":""}]'
  recorded_at: Mon, 21 Sep 2026 10:57:27 GMT
recorded_with: VCR 6.4.0
