---
http_interactions:
- request:
    method: get
    uri: https://mss.cpc.getswish.net/swish-cpcapi/api/v1/paymentrequests/B293E1CA04CC4CB687D1852BD83F93C6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"B293E1CA04CC4CB687D1852BD83F93C6","payeePaymentReference":"ABC123","paymentReference":"DFB38F2039B542B4A5FBDD8E2236270C","callbackUrl":"https://example.com/cb","payerAlias":"46464646464","payeeAlias":"1231181189","amount":199.00,"currency":"SEK","message":"Order
        1","status":"CREATED","dateCreated":"2026-09-21T10:58:10.464Z","datePaid":null,"errorCode":null,"errorMessage":null}'
  recorded_at: Mon, 21 Sep 2026 10:58:10 GMT
recorded_with: VCR 6.4.0
