/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# Dummy app artifacts
/test/dummy/log/*.log
/test/dummy/tmp/

# A gem supports a range of Rubies; let each resolve its own dependencies.
/Gemfile.lock
